.navbarsigned-centered {
  width: 100%;
  height: 96px;
  display: flex;
  position: relative;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.navbarsigned-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.navbarsigned-logo {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbarsigned-links {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.navbarsigned-navlink {
  text-decoration: none;
}
.navbarsigned-text {
  text-decoration: none;
}
.navbarsigned-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbarsigned-sign-in {
  margin-right: 20px;
  text-decoration: none;
}
.navbarsigned-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbarsigned-link {
  display: contents;
}
.navbarsigned-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
  text-decoration: none;
}



@media(max-width: 991px) {
  .navbarsigned-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbarsigned-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .navbarsigned-logo {
    width: 64px;
  }
  .navbarsigned-links {
    display: none;
  }
  .navbarsigned-sign-in {
    display: none;
  }
  .navbarsigned-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navbarsigned-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbarsigned-left {
    margin-left: var(--dl-space-space-unit);
  }
  .navbarsigned-right {
    margin-right: var(--dl-space-space-unit);
  }
  .navbarsigned-sign-in {
    display: none;
  }
}
